
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 30px;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo {
  margin: 40px;
  position: absolute;

  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;

  color: white;
}

.main-header {
  background-image: url("/m/site_media/background-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container-left {
  padding: 15px;

  position: absolute;
  width: 592px;
  /* height: 622px; */
  left: 95px;
  top: 217px;

  background: rgba(255, 255, 255, 0.52);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);

  border-radius: 30px;
}

input[type=button], input[type=submit], input[type=reset] { 
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: black;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  transition: 0.2s;
  text-align: center;
}

/* #input[type=button], input[type=submit], input[type=reset] { */
.button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: black;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  transition: 0.2s;
  text-align: center;
}

.button a {
  text-decoration: none;
  color: black;
  font-family: Roboto;
}

.button:hover {
  transform: scale(1.02);
  box-shadow: -5px 15px 25px rgba(153, 194, 255, 0.5);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}

.container-image {
  margin-top: 15px;
  padding: 10px;
  position: relative;
  display: flex;

  background: rgba(255, 255, 255, 0.22);
  border-radius: 30px;
  transition: 0.5s;
}

.container-stat {
}

.stat-line {
  font-family: Roboto;
  padding: 15px;
  width: 200px;

  text-align: center;
  margin: auto;
  transition: 0.3s;
}

.stat-line:hover {
  cursor: pointer;
  transform: scale(1.05) translateX(-6px) translateY(-3px);
}

.container-right {
  position: absolute;
  width: 301px;
  height: 397px;
  left: 1556px;
  top: 329px;

  background: rgba(255, 255, 255, 0.52);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);

  border-radius: 30px;
}

.title-left {
  margin-top: 30px;
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;

  color: black;
}

.image-description {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;

  color: black;
}

.image {

}

.container-description {
  flex-direction: column;
  justify-content: center;
  display: flex;

  margin-left: 20px;
  font-family: Roboto;
}

.container-image:hover {
  transform: scale(1.15) translateX(30px) translateY(-15px);
  box-shadow: -15px 30px 50px rgba(153, 194, 255, 0.5);
  cursor: pointer;
}

.api-block {
  padding: 15px;
  font-family: Roboto;
  font-size: 10pt;
  color: black;
}

.api-block a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}
