<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shalean - Sharing images</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'image_manager/styles.css' %}">
  </head>
  <body>
    <div class="main-header">
      <div class="logo">
        <a href="{% url 'index' %}">Shalean</a>
      </div>
      <div class="container-center">
        <div class="container-left">
          <div class="title-left">
            Создать новый комментарий
          </div>
          <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="text" class="form__input" id="image" name="image" placeholder="ID фотографии" />
            <input type="text" class="form__input" id="description" name="description" placeholder="Комментарий" />
            <input type="submit" value="Создать комментарий">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
